$s:".service";
#{$s}{
    &-type{
        padding: 15px 0;
    }
}
$p:".price";
#{$p}{
    border:1px solid $c-primarySuperLight;
    background:$c-white;
    margin-bottom: 30px;
    &.active{
        transform: scale(1.1);
    }
    &-group{
        padding:40px 0;
    }
    &-heading{
        padding: 20px;
        position: relative;
        background:$c-primaryDark;
        #{$p}{
            &-title{
                display: block;
                color:$c-black;
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                text-align: center;
                color: $c-white;
            }
        }
    }
    &-body{
        #{$p}{
            &-product{
                padding: 15px;
                h4{
                    background:$c-white;
                    color: $c-secondaryDark;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                }
                span{
                    display: block;
                    text-align: center;
                    font-size: 16px;
                }
                
            }
            &-description{
                padding: 0;
                li{
                    padding: 15px;
                    text-align: center;
                    &:nth-of-type(odd){
                        background:$c-primarySuperLight;
                    }
                }
            } 
        }
    }
    &-footer{
        text-align:center;
        padding: 15px;
    }
}